body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.books_container {
  height: 800px;
}

.book_img {
  height: 375px;
}

.description {
  padding: 20px 20px 0 0;
}
